#footer
  .container.text-center
    div
      | © 2014 IEEE NU Associate Executive Program
    div
      strong GroupLove
      |  Application
    div
      | Bryanna Yeh, David Heydari, Jacob Bruce, Sydney Zink, and William Xiao
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/IEEE-NU/DevElement') GitHub Project
      |  ·
      a(href='https://github.com/IEEE-NU/DevElement/issues')  Issues
    
