extends layout

block content
  h1 Welcome to GroupLove!
  img(src='http://png-1.findicons.com/files/icons/977/rrze/720/user_phd_group.png', height='400px')

  if user
    p.lead
      | Go ahead and get started
    .alert.alert-success.animated.flipInX
      i.fa.fa-check
      strong Success!
      |  You are logged in.

  else
    p.lead
      | Please login or create an account to find a Group!